
.inputRow {
  font-family: helvetica;
  display: flex;
  vertical-align: center;
  align-items: center;
  margin: 5px 0;
  border-radius: 10px;
  transition: box-shadow ease-in-out 0.1s;
}
.inputTitle,p .inputTitle{
  margin-right: 10px;
  display: inline-block;
  text-justify: center;
  width: 90px;
}
input[type=radio]{
  /display: inline-block;
  opacity: 0;
  padding: 0;
  margin: 0;

}

.newCheck, .newX{
  /box-sizing: border-box;
  overflow: hidden;
  font-size: 15px;
  line-height: 110%;
  /padding: 2px 0 0 0;
  border-radius: 4px;
  margin: 0px 40px;
  vertical-align: center;
  text-align: center;
  flex-shrink: 0;
  height: 15px;
  width: 15px;
  border: black solid 1px;
  /background-color: white;
}
.newCheck:hover, .newX:hover{
  box-shadow: 0 0 10px;
}
