html{
  background-color: #9d2235;
}
body{
  border-radius: 40px;
  border: solid #ffc72c 4px;
  width: 900px;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0px 10px 80px;

}

main{
  width: 800px;
  margin: 0 auto;
}


header{
  margin: 20px auto;
  width: 800px;
}
footer{
  margin: 20px auto;
  width: 800px;
  height: 100px;
}
button.navigation, input[type="submit"] {
    display: block;
    width: 140px;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
}
input,label{
  cursor: pointer;
}
button.navigation[type="next"]{
  float: right;
  cursor: pointer;
}

p, h1, h3, td, div{
  font-family: helvetica;
}

@media only screen and (max-width: 992px){
  body{
    width: 700px;
  }
  header, footer, main{
    width: 600px;
  }
}
