#infoTable{
  display: grid;
  grid-template-columns: 100px auto auto auto auto 100px;
  grid-template-rows: auto 80px 80px 80px 80px 80px;

  grid-gap: 5px;
  width: 100%;

}
#tableTitle{
  text-align: center;
  grid-column: 1/7;
}
.candidate{
  position: sticky;
  top: 0;
  padding: 5px;
  text-align: center;
  color: #9d2235;;
}
.candidateTitle{
  position: sticky;
  top: 0;
}
#candidate1{
  grid-area: 2/1  /  7/2;
}
#candidate2{
  grid-area: 2/6  /  7/7;
}
.infoLabel{
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: box-shadow ease-in-out 1.2s;
  /width: 200px;
}
.infoLabel:hover{
  box-shadow: 0 0 20px;
}




.info{
  display:none;
}
label{
  font-size: 30px;
  line-height: 30px;
}
input[type="radio"]{
  display: inline-block;
  vertical-align: center;
  border: 0;
  height: 20px;
  width: 20px;
}

p{
  margin: 2px;
}

#radioButtonContainer{
  width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 992px){
  #infoTable{
    grid-template-columns: 80px auto auto auto auto 80px;

  }
  .info, .candidateTitle, .infoLabel{
    font-size: 12px;
  }
  #radioButtonContainer{
    width: 600px;
    margin: 0 auto;
  }
}
