.answerOption{
  position:sticky;
  top: 0;
  text-align: center;
  background:  rgba(255,255,255,0.7);
}

#surveyGrid{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}

.question{
  grid-column: 1;
}



p {
  margin: 2px;
}

input[type="radio"]{
  width: 25px;
  height:  25px;
  margin: 18px 28px;
}
