#infoTable{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  table-layout: fixed;
  empty-cells: hide;
}
#tableTopRow {
  height: 40px;
}
td,th {
  font-size: 12px;
  padding: 2px;
  border-collapse: separate;
  vertical-align: center;
  text-align: center;

}
td{
  border: solid 1px;
  border-radius: 10px;
  box-shadow: none;
  -webkit-transition:  background-color 0.5s;
  transition:  background-color 0.5s;
  transition-timing-function: ease-in-out;

}

td:hover{
    background-color: #9cbef4;

}
th.candidate{
  vertical-align: top;

}
.candidateInfoBox {
  position: sticky;
  top:0px;
  width: 96%;
  height: 60px;
  padding: 2px;
  vertical-align: center;
}
.info{
  display:none;
}
label{
  font-size: 30px;
  line-height: 30px;
}
input[type="radio"]{
  display: inline-block;
  vertical-align: center;
  border: 0;
  height: 20px;
  width: 20px;
}

p{
  margin: 2px;
}

#radioButtonContainer{
  width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 992px){
  #infoTable{
    width: 600px;
  }
  td,th{
    font-size: 8px;
  }
  #radioButtonContainer{
    width: 600px;
    margin: 0 auto;
  }
}
