table{
  width: 90%;
  border: black 2px solid;
  margin: 20px auto;
  padding: 0;
  border-collapse: collapse;
}

td,th{
  border: solid black 1px;
}


p {
  margin: 2px;
}

input[type="radio"]{
  width: 25px;
  height:  25px;
  margin: 18px 28px;
}
