header{
  margin: 20px auto;
  width: 800px;
}
footer{
  margin: 20px auto;
  width: 800px;
  height: 200px;
}
button.navigation {
    position: absolute;
    width: 60px;
    height: 20px;

}
button.navigation[type = "next"] {
  right: 60px;
}
p, h1, td{
  font-family: helvetica;
}
