header{
  margin: 20px auto;
  width: 800px;
}
footer{
  margin: 20px auto;
  width: 800px;
  height: 200px;
}
button.navigation, input[type="submit"] {
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
}
button.navigation[type="next"]{
  float: right;
}

p, h1, td{
  font-family: helvetica;
}
